@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar{
    width: 5px;   
}

*::-webkit-scrollbar-thumb{
    width: 100%;   
    background-color: rgb(157, 157, 157);
    border-radius: 10px;
}

body,html{
    height: 100%;
    width: 100%;
}